header {
  padding-inline: 28px;
  padding-block: 18px;
  background-color: #333;
  color: white;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }
}
