<!-- <p>todo-item works!</p> -->
<li appHighlightCompletedTodo [isCompleted] = "todoItem().completed" class="todos__item">
  <input 
    id="todo-{{ todoItem().id }}" 
    type="checkbox"
    [checked]="todoItem().completed" 
    (change)="this.todoClicked()"
  />
  <label for="todo-{{ todoItem().id }}">{{ todoItem().title | uppercase }}</label>
  <button class="btn btn-danger" (click) = "this.deleteClicked()">Delete</button>
  <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button> -->
</li>
